<div style="text-align:center">
   <br>
   <div class="container" style="border:1px solid #cecece;">
      <p><br>Try speaking some sentences from your mind, the model should be able to get those.<br>
         But these should work as the model has been fine-tuned on them<br>
         1. Get me a pizza.<br>
         2. Order a pizza for me.<br>
         3. Order a pizza.<br>
         4. I want a pizza.<br>
         5. I want to order a pizza.
      </p>
      <div *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" class="mt-4 col-md-12">
         <p>{{number}}</p>
         <form name="recording">
            <a (click)="initiateRecording(number)" class="btn btn-primary" style="color: aliceblue;"
            *ngIf="!recording[number]"> Start Recording </a> <i class="fas fa-microphone"></i>
            <a (click)="stopRecording(number)" class="btn btn-danger" style="color: aliceblue;"
            *ngIf="recording[number]"> Stop Recording </a>
            <div class="clearfix"></div>
            <audio controls="" *ngIf="urls[number]">
               <source [src]="sanitize(urls[number])" type="audio/wav">
            </audio>
         </form>
      </div>
      <div class="mt-4 col-md-12">
         <p>
            <label>OR</label>
         </p>
      </div>
      <div class="mt-4 col-md-12">
         <div class="form-group">
            <input type="file" id="file" (change)="handleFileInput($event.target.files)">
         </div>
      </div>
      <ngx-spinner></ngx-spinner>
      <div class="mt-4 col-md-12">
         <p>
            <label>Text Output</label>
         </p>
      </div>
      <textarea id = "myTextArea" class="col-lg-3 center-block" rows = "3" cols = "80"> {{text}} </textarea>
   </div>
</div>